:root{
    --main-color: rgb(224, 109,108);
    --logo-color: rgb(255, 224, 117);
    --green-color: rgb(093, 253, 176);
    --white: #ffffff;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body{
    margin: 0;
    background-color: rgb(223, 223, 223);
}

/* HEADER */
.header{

    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;

    background-color: var(--main-color);
    transition: top .1s ease;
}
.fx{
    top: 0;
    position: fixed;
}
.header .header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70%;

    margin: 0 auto;
}
.header_inner .logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;

    color: white;
}
.yellow_span{
    color: var(--logo-color);
}
.input_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input_container .add_task{
    width: 500px;
    height: 34px;

    font-size: 24px;

    padding-left: 10px;

    border: none;
}
.input_container .button_add_task{
    width: 78px;
    height: 34px;

    border: none;
    border-radius: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;

    color: var(--main-color);
    background-color: white;

    transition: background-color .3s ease;
}
.input_container .button_add_task:active{
    background-color: var(--main-color);
    color: white;
}

/* TASK SECTION */

.task_section{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}
.task_section_inner{
    width: 70%;

    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.todo_container{
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;

    margin: 10px 0px;

    text-transform: uppercase;
}
.end_container{
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;

    margin: 10px 0px;

    text-transform: uppercase;
}
/* ЗАДАЧА */
.task{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: 70px;
    
    margin: 0 auto;
    margin-bottom: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: px;

    background-color: white;
    border-radius: 20px;
}
.task_input{
    width: 70%;
    height: 45px;

    font-size: 24px;

    border: none;
}
.task_button_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button_ready{
    width: 30px;
    height: 30px;

    border-radius: 100%;
    border: 5px solid var(--green-color);
    background-color: var(--white);

    transition: background-color .1s ease;
}
.button_ready:active{
    background-color: var(--green-color);
}
.ready{
    background-color: var(--green-color);
    border: none;
}
.r_txt{
    color: #d1d1d1;
    text-decoration: line-through;
}
button.button_remove{
    width: 30px;
    height: 30px;

    border-radius: 100%;
    border: none;
    background-color: var(--main-color);
}